# Copied from 'sphinx' extra of setup.cfg
altair
folium
ipywidgets
nbclient
numpy
pandas
plotly
sphinx-click
sphinx_inline_tabs
jupyter_bokeh
sphinxext-rediraffe~=0.2.3
sympy
sphinx-proof
toolz
importlib-metadata
myst-nb
matplotlib